<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="vkashmirEntities" connectionString="metadata=res://*/placesmodel.csdl|res://*/placesmodel.ssdl|res://*/placesmodel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=password1;database=vkashmir&quot;" providerName="System.Data.EntityClient" />
    <add name="vkashmirEntities1" connectionString="metadata=res://*/placesmodel.csdl|res://*/placesmodel.ssdl|res://*/placesmodel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=password1;database=vkashmir&quot;" providerName="System.Data.EntityClient" />
    <add name="vkashmirEntities2" connectionString="metadata=res://*/usermodel.csdl|res://*/usermodel.ssdl|res://*/usermodel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=password1;database=vkashmir&quot;" providerName="System.Data.EntityClient" />
    <add name="vkashmirEntities3" connectionString="metadata=res://*/shopmodel.csdl|res://*/shopmodel.ssdl|res://*/shopmodel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=password1;database=vkashmir&quot;" providerName="System.Data.EntityClient" />
    <add name="vkashmirEntities4" connectionString="metadata=res://*/usermodel.csdl|res://*/usermodel.ssdl|res://*/usermodel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=password1;database=vkashmir&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>